/* ===================================================================
 * СКРОЛЛБАРЫ — эксперимент 2: темнее
 * =================================================================== */
#ws-h-scrollbar {
    height: 20px !important;
    background-color: #a8a8a8 !important;
}
#ws-h-scrollbar:hover {
    background-color: #606060 !important;
}
#ws-h-scrollbar canvas { height: 100% !important; }
#ws-v-scrollbar {
    width: 20px !important;
    background-color: #a8a8a8 !important;
}
#ws-v-scrollbar:hover {
    background-color: #606060 !important;
}
#ws-v-scrollbar canvas { width: 100% !important; }
#ws-scrollbar-corner {
    width: 20px !important;
    height: 20px !important;
    background-color: #a8a8a8 !important;
}
