/* Контейнер */
#statusbar_bottom.nav-tabs.bottom {
    height: 36px !important;
    min-height: 36px !important;
    max-height: 36px !important;
    display: flex !important;
    align-items: stretch !important;
}

/* Вкладка */
#statusbar_bottom > li.list-item {
    font-size: 14px !important;
    line-height: 1 !important;
    padding: 0 14px !important;
    height: 36px !important;
    min-height: 36px !important;
    display: flex !important;
    align-items: center !important;
    box-sizing: border-box !important;
    margin-right: 2px !important; /* лёгкий зазор между вкладками */
}